@layer utilities {
  .text-shadow-neon-pink {
    text-shadow: 0 0 5px #ff1b8d, 0 0 10px #ff1b8d, 0 0 15px #ff1b8d;
  }

  .text-shadow-neon-cyan {
    text-shadow: 0 0 5px #00e5ff, 0 0 10px #00e5ff, 0 0 15px #00e5ff;
  }

  .text-shadow-neon-gold {
    text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 15px #ffd700;
  }
}
